<style>

</style>


<div class="box">
  <h1>News API</h1>
  <div>Your IP address is: <%= @user_ip %></div>
  <div>Your IP info: <%= @user_ip_info['city'] %>, <%= @user_ip_info['country'] %> | <%= @user_ip_info['timezone'] %></div>
  <div class="container-all">
    <%= form_with url: api_news_index_path, method: :get, class: 'form' do |form| %>
      <div class="column-category">
        <div class="mb-3">
          <%= form.label :category, class: 'form-label' %>
          <%= form.select :category, @categories, selected: params[:category], class: 'form-control' %>
        </div>
        <%= form.submit 'Search', class: 'btn btn-sm btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="table-container">
    <table class="table table-bordered ">
      <thead>
      <tr>
        <td>AUTHOR</td>
        <td>SOURCE</td>
        <td>URL</td>
        <td>TITLE</td>
        <td>CONTENT</td>
        <td>IMAGE</td>
        <td>PUBLISHED AT</td>
      </tr>
      </thead>
      <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article['author'] %></td>
          <td><%= article['source']['name'] %></td>
          <td><%= article['url'] %></td>
          <td><%= article['title'] %></td>
          <td><%= article['content'] %></td>
          <td><%= image_tag article['urlToImage'], style: 'width: 200px; height: 200px;' if article['urlToImage'].present? %></td>
          <td><%= article['publishedAt'] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>