<h3>Feedbacks</h3>

<div class="box-feedback">

  <div class="container">
    <%= form_with url: feedbacks_path, method: :get do |form| %>
      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, value: params[:name], class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :email, class: 'form-label' %>
        <%= form.text_field :email, value: params[:email], class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :subject, class: 'form-label' %>
        <%= form.text_field :subjetc, value: params[:subjetc], class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :message, class: 'form-label' %>
        <%= form.text_field :message, value: params[:message], class: 'form-control' %>
      </div>
      <div class="form-group">
        <strong>Remarks:</strong>
        <br>
        <% Feedback.remarks.each do |remark| %>
          <div class="form-check">
            <%= form.radio_button :remarks, remark[0], class: 'form-check-input',
                                  checked: (params[:remarks] == remark[0]) %>
            <%= form.label "#{remark[0]}", class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
      <div class="mb-3">
        <%= form.label :start_date, class: 'form-label' %>
        <%= form.date_field :start_date, value: params[:start_date], class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :end_date, class: 'form-label' %>
        <%= form.date_field :end_date, value: params[:end_date], class: 'form-control' %>
      </div>
      <div class="letter1">
        <%= form.submit 'Search', class: 'btn btn-sm btn-primary' %>
        <div class="add-new-feedback">
          <%= link_to 'Add New Feedback', new_feedback_path, class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>


  <div id="posts" class="d-flex flex-column">

    <div class="table-container">
      <table>
        <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Subject</td>
          <td>Message</td>
          <td>Remarks</td>
          <td>Created at</td>
          <td>Updated at</td>
          <td>Action</td>
        </tr>
        </thead>
        <% @feedbacks.each do |post| %>
          <tr>
            <td><%= post.user&.name %></td>
            <td><%= post.user&.email %></td>
            <td><%= post.subjetc %></td>
            <td><%= post.message %></td>
            <td><%= post.remarks %></td>
            <td><%= post.created_at %></td>
            <td><%= post.updated_at %></td>
            <td class="button">
              <%= link_to 'Show', feedback_path(post), class: 'btn btn-primary' %>
              <%= link_to 'Edit', edit_feedback_path(post), class: 'btn btn-warning' %>
              <%= button_to 'Delete', feedback_path(post), method: :delete, class: 'btn btn-danger' %>
              <%= link_to 'Notes', feedback_notes_path(post), class: 'btn btn-warning' %>
              <%= link_to 'New Note', new_feedback_note_path(post), class: 'btn btn-warning' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="paginate"><%= paginate @feedbacks %></div>
</div>





