<div class="box">
  <h1>show post id: <%= @feedback.id %></h1>
  <ul>

    <li>Name: <%= @feedback.name %></li>

    <li>Email: <%= @feedback.email %></li>

    <li>Subject: <%= @feedback.subjetc %></li>

    <li>Message: <%= @feedback.message %></li>

    <li>Remarks: <%= @feedback.remarks %></li>

  </ul>
</div>