<%= form_with data: { controller: "location" }, model: post do |form| %>
  <% if post.errors.any? %>
    <ul class="error">
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label 'Status' %>
    <%= form.select :status, options_for_select(Post.statuses.keys.map { |status| [status.humanize, status] }) %>
  </div>


  <div class="mb-3">
    <%= form.label :address_region_id %>
    <%= form.collection_select :address_region_id,
                               Address::Region.all, :id, :name,
                               { prompt: 'Please select region' },
                               class: 'form-control',
                               data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' } %>
  </div>
  <div class="mb-3" data-action>
    <%= form.label :address_province_id %>
    <%= form.collection_select :address_province_id,
                               [], nil, nil,
                               { prompt: 'Please select province' }, class: 'form-control',
                               data: { location_target: 'selectedProvinceId', action: 'change->location#fetchCities' } %>
  </div>

  <div class="mb-3" data-action>
    <%= form.label :address_city_id %>
    <%= form.collection_select :address_city_id,
                               [], nil, nil,
                               { prompt: 'Please select city' }, class: 'form-control',
                               data: { location_target: 'selectedCityId', action: 'change->location#fetchBarangays' } %>
  </div>

  <div class="mb-3" data-action>
    <%= form.label :address_barangay_id %>
    <%= form.collection_select :address_barangay_id,
                               [], nil, nil,
                               { prompt: 'Please select barangay' }, class: 'form-control',
                               data: { location_target: 'selectedBarangayId'}%>
  </div>

  <div class="mb-3">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <%= form.submit %>
<% end %>







