<h3>Post List</h3>
<div class="add-new-post">
  <%= link_to 'Add New Post', new_post_path, class: 'btn btn-success' %>
</div>

<div class="box-posts">

  <div class="container">
    <%= form_with url: posts_path, method: :get do |form| %>
      <div class="mb-3">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, value: params[:title], class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :start_date, class: 'form-label' %>
        <%= form.date_field :start_date, value: params[:start_date], class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :end_date, class: 'form-label' %>
        <%= form.date_field :end_date, value: params[:end_date], class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.label :published, class: 'form-label' %>
        <%= form.check_box :published, value: params[:published], class: 'form-check-input' %>
      </div>

      <%= form.submit 'Search', class: 'btn btn-sm btn-primary' %>
    <% end %>
  </div>


  <div id="posts" class="d-flex flex-column">

    <div class="table-container">
      <table>
        <thead>
        <tr>
          <td>Author</td>
          <td>Title</td>
          <td> Content</td>
          <td>Created at</td>
          <td>Updated at</td>
          <td>Category</td>
          <td>Published</td>
          <td>Action</td>
        </tr>
        </thead>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.user&.email %></td>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= post.created_at %></td>
            <td><%= post.updated_at %></td>
            <td><%= post.categories.pluck(:name).join(',') %></td>
            <td><%= post.published %></td>
            <td class="button">
              <%= link_to 'Show', post_path(post), class: 'btn btn-primary' %>
              <% if user_signed_in? && post.user == current_user %>
                <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning' %>
                <%= button_to 'Delete', post_path(post), method: :delete, class: 'btn btn-danger' %>
              <% end %>
              <%= link_to 'Comments', post_comments_path(post), class: 'btn btn-warning' %>
              <%= link_to 'New Comment', new_post_comment_path(post), class: 'btn btn-warning' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="paginate"><%= paginate @posts %></div>
</div>

















