<!doctype html>
<html lang="en">
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


  <style>
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }


      body {
          background: #E4B8EF;
      }


      .btn {
          display: inline-block;
          font-size: 18px;
          color: black;
          background: linear-gradient(purple, violet, purple);;
          padding: 13px 20px;
          cursor: pointer;
          margin: 5px;
          width: 150px;
          border: none;
      }

      .btn:hover {
          background: transparent;
          color: black;

      }


      #navbar {
          background: url("https://png.pngtree.com/background/20210717/original/pngtree-aesthetic-violet-gold-marble-phone-wallpaper-picture-image_1412973.jpg");
          background-size: cover;
          overflow: auto;
      }

      #navbar h1 {
          float: left;
          padding-top: 20px;
      }

      #navbar ul {
          list-style: none;
          float: right;
      }

      #navbar ul li {
          float: left;
      }

      #navbar ul li a {
          display: block;
          padding: 20px;
          text-align: center;
      }

      #navbar ul li a:hover,
      #navbar ul li a.current {
          background: linear-gradient(purple, mediumpurple, violet);
          color: #f7c08a;
      }

      h1 {
          margin-bottom: 20px;
      }


      h2 {
          opacity: 35%;
      }

      .active {
          color: blueviolet;
      }

      ul {
          text-decoration: none;
          list-style: none;
      }

      #posts {
          border: 2px red solid;
      }


      .box {
          background: violet;
          align-items: center;
          justify-content: center;
          height: 80vh;
          display: flex;
          flex-direction: column;

      }

      .box-posts {
          background: violet;
          align-items: center;
          justify-content: center;
          height: 110vh;
          display: flex;
          flex-direction: column;

      }


      .box-feedback {
          background: violet;
          align-items: center;
          justify-content: center;
          height: 130vh;
          display: flex;
          flex-direction: column;
      }

      .box-feedback .table-container {
          height: 500px;
          width: 1300px;
          max-width: 100%;
          border: 1px solid #ccc;
          overflow: auto;
          box-sizing: border-box;
      }

      .con {
          text-align: center;
          margin-top: 130px;
      }

      p {
          text-align: justify;
          margin: auto;
          padding: 50px;
      }

      .container-all {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          background: linear-gradient(#df8bbc, #ad77c3);
          height: 10vh;
          width: 60vh;
          margin: auto;
      }


      .box-1 {
          margin-top: -100px;
      }


      .image {
          display: flex;
          margin-bottom: 0;
      }


      #contact-form .form-group {
          margin-bottom: 20px;
      }

      #contact-form label {
          display: block;
          margin-bottom: 5px;
      }

      #contact-form input,
      #contact-form textarea {
          width: 100%;
          padding: 10px;
          border: 1px #ddd solid;
      }

      #contact-form textarea {
          height: 200px;
      }

      #contact-form input,
      #contact-form textarea:focus {
          outline: none;
          border-color: #f7c08a;
      }

      table, thead, td {
          border: 1px solid;
      }

      td {
          padding: 10px;
      }

      thead {
          text-align: center;
      }


      table {
          margin: auto;
          width: 70vh;
          height: 50vh;
      }

      thead {
          position: sticky;
          top: 0;
          background: linear-gradient(violet, purple);
          z-index: 1;
      }

      .table-container {
          height: 500px;
          width: 1000px;
          max-width: 100%;
          border: 1px solid #ccc;
          overflow: auto;
          box-sizing: border-box;
      }

      h3 {
          text-align: left;
          font-size: 50px;
          font-family: "Helvetica Neue", Helvetica, Arial;
      }

      li {
          margin: auto;
      }

      .error {
          display: flex;
          flex-direction: column;
      }


      .box ul {
          display: flex;
          flex-direction: column;
      }

      .box ul li {
          margin: auto 30px;
      }

      .form-check {
          width: 7%;
          height: 7%;
      }


      .box-contact-form {
          background: violet;
          align-items: center;
          justify-content: center;
          height: 100vh;
          display: flex;
          flex-direction: column;

      }

      .letter1 {
          display: flex;
          flex-direction: row;
      }

      .letter2 {
          display: flex;
          flex-direction: row;
          width: 100px;
          height: 150px;
          text-align: center;
      }

      .btn-5 {
          display: inline-block;
          font-size: 18px;
          color: black;
          background: linear-gradient(purple, violet, purple);;
          padding: 13px 20px;
          cursor: pointer;
          margin: 5px;
          width: 200px;
          border: none;
          text-decoration: none;
      }

      .btn-5:hover {
          background: transparent;
          color: black;

      }

      .title {
          display: flex;
          text-align: left;
      }

      .column {
          display: flex;
          flex-direction: column;
      }
  </style>
</head>


<body>

<% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
<% end %>


<header>
  <nav id="navbar">

    <div class="container">


      <%= yield %>

      <ul>
        <li>
          <%= link_to 'Home', root_path, class: "nav-link #{'active' if action_name == 'index' }", 'aria-current': 'page' %>
        </li>
        <li>
          <%= link_to 'About', about_path, class: "nav-link #{'active' if action_name == 'about' }", 'aria-current': 'page' %>
        </li>
        <li>
          <%= link_to 'Contact', new_feedback_path, class: "nav-link #{'active' if action_name == 'contact' }", 'aria-current': 'page' %>
        </li>
        <li>
          <%= link_to 'Posts', posts_path, class: "nav-link #{'active' if action_name == 'posts' }", 'aria-current': 'page' %>
        </li>
      </ul>
    </div>
  </nav>
</header>

<%= render 'layouts/header' %>

</body>
</html>













